<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Resetear contraseña</h3>

      <p class="text-center">Por favor proporcione su correo para enviar el enlace y remplazar su contraseña</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Correo electronico" #passwordResetEmail required>
      </div>

      
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="enviar link" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Volver a <span class="redirect" routerLink="/sign-in"> iniciar sesión?</span></span>
    </div>

  </div>
</div>